.Bg-img{
    background-image: url(../images/desk.png);
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-position: 0px -100px;
}

.bg-works{
    background-image: url(../images/whitebrick.png);
    background-blend-mode: lighten;
    background-repeat: repeat-y;
}

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.grid-cols{
    overflow-x: hidden !important;
}

